:root {
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --first-text-color: rgba(255, 255, 255, 0.6);
    --second-text-color: #757575;
    --third-text-color: #212121;
    --fourth-text-color: #FFFFFF;
    --first-button-color: #FFFFFF;
    --second-button-color: #212121;
    --header-text-color: #212121;
    --accent-color: #2196F3;
    --background-colorr: #2F303A;
    --background-colorr-team: #F5F4FA;
    --footer-colorr:rgba(255, 255, 255, 0.6);
    --back-colorr: #E5E5E5;
}

.ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 auto;
}
li {
    list-style-type: none;
   
}

    /* HADER */
    .container{
        width: 1600px;
        margin: 0 auto;
       
    }
        
        .header-link:hover,
        .header-link:focus {
            color: var(--accent-color)
        }
    
        .header-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--second-title-color)

        }
.link {
    text-decoration: none;}
    
    .list{
       
        font-style: normal;
            font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;

    }
    .visually-hidden{
        position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            margin: -1px;
    }
    
.body{
    font-family: 'Roboto', 'Raleway', sans-serif;
    color:var(--second-text-color);
    background-color:var(--back-colorr)
    }


      /* hero */
.hero{
    background-color: var(--background-colorr);
}
  .first{
    font-weight: 900;
        font-size: 44px;
        line-height:1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    color: var(--first-button-color);
  }  
  .menu {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--header-text-color);
  }
  .chpeta{
    font-weight: 700;
     font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--header-text-color);
  }
  .ohne{
font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    }
  .idea {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
  }
  .idea2{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
  .hero-btn:hover,
  .hero-btn:focus {
      cursor: pointer;
      color: var(--accent-color);}

      .button{
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
      }
    .hero-btn{
        font-weight: 700;
            font-size: 16px;
            line-height:1.87;
        color: var(--fourth-text-color);
        background: var(--accent-color);
    }
    .hero-bt{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;

    }
    .hero-bt:hover,
    .hero-bt:focus {
        cursor: pointer;
         color: var(--first-button-color);
        background: var(--accent-color);
        }

    
    .studio{
        color: var(--header-text-color);
    }
        .studio2 {
            color: var(--first-button-color);
        }
    .header-logo{
        color: var(--accent-color);
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
    }
    .header-adress:hover,
    .header-adress:focus {
        color: var(--accent-color);
    }
        .header-adress{
            font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
        }
        .header-tel:hover,
        .header-tel:focus {
            color: var(--accent-color);
        }
        .header-tel{
            font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
        }
    .mainteam{
        background-color: var(--background-colorr-team);
    }
    .team{
        background-color: var(--first-button-color);
    }
    
    .fot {
        background: var(--background-colorr);
    }
.bang{
    color: var(--footer-colorr);
}
.bang:hover,
.bang:focus{
    color: var(--accent-color);
}
.bang-w:hover,
.bang-w:focus {
    color: var(--accent-color);
}
.bang-w{
    
    color: var(--fourth-text-color)
}
.header-adress{
    color: var(--second-text-color);
}
.header-tel {
    color: var(--second-text-color);
}
.pages{
    font-style: normal;
}

.main-port{
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--header-text-color);
}
.main-right{
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
}
