:root {
    --main-title-color: #FFFFFF;
    --second-title-color: #212121;
    --first-text-color: rgba(255, 255, 255, 0.6);
    --second-text-color: #757575;
    --third-text-color: #212121;
    --fourth-text-color: #FFFFFF;
    --first-button-color: #FFFFFF;
    --second-button-color: #212121;
    --header-text-color: #212121;
    --accent-color: #2196F3;
    --background-colorr: #2F303A;
    --background-colorr-team: #F5F4FA;
    --footer-colorr:rgba(255, 255, 255, 0.6);
    --back-colorr: #E5E5E5;
    --button-active:#188CE8;
    --solid-color:#EEEEEE;
    --solid2-color:#ECECEC;
}

ul{
    
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul :last-child {
    margin-right: 0%;
    margin-bottom: 0%;
}




h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 auto;
}
li {
    list-style-type: none;
   
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
        .visually-hidden {
            position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            margin: -1px;
        }
    
        body {
            font-family: 'Roboto', sans-serif;
            color: var(--second-text-color);
        }

    /* HADER */
    header{
        border-bottom: 1px var(--solid2-color);
    }
    .container{
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        /* padding-left: 0; */
    }
    .container1{
        width: 1200px;
            margin-right: auto;
            margin-left: auto;
            align-items: center;
        text-align: center;
    }
    .go{
        display: flex;
        align-items: center;
    }
        .header-container{
            
             align-items: center;
            display: flex;

        }
        .pages {
            font-style: normal;
            display: flex;
            padding: 0 ;
            margin: 0;
            
        }
        .pages2{
            font-style: normal;
                padding: 0;
                margin: 0;
        }
        .pag{
            
            margin-right: 30px;
            flex-basis: 100%;
        }
               
        .arbait{
            padding-bottom: 94px;
        }
        .headeror{
            margin-right: 50px;
        }
        
        .header-link:hover,
        .header-link:focus {
            color: var(--accent-color)
        }
    
        .header-link {
            display: block;
            padding-top: 24px;
            padding-bottom: 25px;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--second-title-color)

        }
        .adretel{
            margin-left: auto;
            padding: 0;
            display: flex;
        }
.link {
    text-decoration: none;}
    
    .list{
        font-style: normal;
            font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                margin-bottom: 8px;
    }



      /* hero */

.hero{
    background-color: var(--background-colorr);
    padding-top: 200px;
    padding-bottom: 200px;
}

.win{
    padding-top: 94px;
    padding-bottom: 94px;
}
  .first{
    
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--first-button-color);
  }  
  .fill{
    display: flex;
  }
  .menu {
    text-align: center;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
        color: var(--header-text-color);
  }
  .chpeta{
    font-weight: 700;
     font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: var(--header-text-color);
  }
  .ohne{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--header-text-color);
    }
  .idea {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
  }
  .idea2{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    background: #FFFFFF;
  }
  .kert{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hero-btn:hover,
  .hero-btn:focus {
      cursor: pointer;
      background-color: var(--button-active);
    }

    .hero-btn{
        font-family: inherit;
        font-weight: 700;
        padding: 10px 32px ;
        border: none;
            font-size: 16px;
            line-height:1.87;
        color: var(--fourth-text-color);
        background: var(--accent-color);
    }

        .hero-bt:hover,
        .hero-bt:focus {
            cursor: pointer;
            color: var(--first-button-color);
            background: var(--accent-color);
        }
    .hero-bt{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 4px;
        border: var(--background-colorr-team);
    }
    .ger{border-color: var(--background-colorr-team);
      margin-right: 8px;;
    }
    

    
    .studio{
        color: var(--header-text-color);
    }
        .studio2 {
            color: var(--first-button-color);
        }
    .header-logo{
        color: var(--accent-color);
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        margin-right: 93px;
       ;
    }
        .header-logo2 {
            color: var(--accent-color);
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            letter-spacing: 0.03em;
           }
           .adres{
            margin-top: 20px;
           }

    .header-adress:hover,
    .header-adress:focus {
        color: var(--accent-color);
    }
        .header-adress{
            display: block;
                padding-top: 24px;
                padding-bottom: 25px;
            font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                
        }
        .rel{
            margin-right: 50px;
        }
        .header-tel:hover,
        .header-tel:focus {
            color: var(--accent-color);
        }
        .header-tel{
            display: block;
                padding-top: 24px;
                padding-bottom: 25px;
            font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
        }
    .mainteam{
        background-color: var(--background-colorr-team);
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .team{
        text-align: center;
        margin-right: 30px;
        background-color: var(--first-button-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
    }

    .fot {
            padding-top: 60px;
            padding-bottom: 60px;
        background: var(--background-colorr);
    }
.bang{
    color: var(--footer-colorr);
}
.bang:hover,
.bang:focus{
    color: var(--accent-color);
}
.bang-w:hover,
.bang-w:focus {
    color: var(--accent-color);
}
.bang-w{
    
    color: var(--fourth-text-color)
}
.header-adress{
    color: var(--second-text-color);
}
.header-tel {
    color: var(--second-text-color);
}


.main-port{
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
        color: var(--header-text-color);
}
.main-right{
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
}

.main-right-plus{
    margin-top: 94px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.main-bt{
    padding-top: 94px;
    padding-bottom: 50px;
}
.main-list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.mainli{
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--first-button-color);
    border: 1px solid var(--solid-color);
}
.main-list > .mainli {
    flex-basis: calc(100%/3 - 30px);}

.isu{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.laste{
    padding-bottom: 94px;
}